<%- include('layout/header') %>


<section>
    <div class="container" style="align-items: center;padding-top: 5%; padding-left: 10%; padding-right: 10%;">
        <div class="row ">
            <div class="card" >
                <div class="card-title text-center mt-3">
                    <h3>Add User</h3>
                </div>
                <div class="card-body">
                    <form action="/add" id="add-form" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="productname">Name:</label>
                            <input type="text" name="name" class="form-control" id="productname"
                                placeholder="Enter Name">
                        </div>
                        <div class="form-group">
                            <label for="productid">Email:</label>
                            <input type="email" name="email" class="form-control" id="productid"
                                placeholder="Enter Email">
                        </div>
                        <div class="form-group">
                            <label for="productprice">Phone:</label>
                            <input type="text" name="phone" class="form-control" id="productprice"
                                placeholder="Enter Phone">

                        </div>
                       
                        <div class="custom-file">
                            <label for="image" class="form-lable">Select Image</label>
                            <input type="file" name="image" class="custom-file-input" id="productimage" required>
                            <div class="invalid-feedback">File Format Not Supported</div>
                        </div>
                        <button class="btn btn-dark mt-5 mx-auto d-block" type="submit" >Add
                            User</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('layout/footer') %>
